VITE_SPRING_API_BASE_URL=YOUR_SPRING_API_URL
VITE_CHATBOT_API_BASE_URL=YOUR_CHATBOT_API_URL
VITE_TOSS_API_CLIENT_KEY=YOUR_TOSS_CLIENT_KEY
VITE_NAVER_LOGIN_API_URL=YOUR_NAVER_LOGIN_URL
VITE_KAKAO_REDIRECT_URI=YOUR_KAKAO_REDIRECT_URI
VITE_KAKAO_CLIENT_ID=YOUR_KAKAO_CLIENT_ID